* {
    margin: 0;
    padding: 0;
    font-size: 0;
}

.background-img-1, .background-img-2, .background-img-3 {
    width: 700px;
    height: 490px;
    background-size: cover;
}

.background-img-1 {
    background: url(./../img/pinguins.jpg) no-repeat center;
}

.background-img-2 {
    background: url(./../koala.jpg) no-repeat center;
}

.background-img-3 {
    background: url(./ara.jpg) no-repeat center;
}